body {
    margin: 0px;
    padding: 0px;
}
.login {
    display: flex;
    flex-direction: row;
    gap: 32px;
    height: 100vh;
    background-color: #FFFBE5;
}

.left {
    background-color: #F4CC0A;
}

.right {
}

.left, .right {
    width: 50%;
    padding: 64px;
}